<head>
    <link href="css/friends.css" rel="stylesheet">
</head>
<div class="friends-partial-container">
    <body>
        <div class="content-container">
            <button class="tablinks" onclick="onSwitchTab('friends')"><i class="fas fa-users"></i> Friends</button>
            <button class="tablinks" onclick="onSwitchTab('friend-requests')"><i class="fas fa-question-circle"></i> Friend Requests</button>
            <button class="tablinks" onclick="onSwitchTab('friend-search')"><i class="fas fa-search"></i> Search</button>
        </div>
        <div id="friends" class="tabcontent">
            <h1>Friends</h1>
            <br>
            <div id="friends-content">
            </div>
        </div>
        <div id="friend-requests" class="tabcontent">
            <h1>Requests</h1>
            <br>
            <div id="requests-content">
            </div>
        </div>
        <div id="friend-search" class="tabcontent">
            <h1><i class="fas fa-search"></i> Search</h1>
            <br>
            <input id="input-friend-search">
            <button onclick="searchForUser()">search</button>
            <div id="search-content">
            </div>
        </div>    
    </body>
</div>

<script src="js/friends-script.js"></script>
