<head>
    <link href="css/keyboard.css" rel="stylesheet">
</head>

<body>
    <div class="keyboard noselect">
		<div class="keycap-row row-1">
			<div class="keycap special bigs ogMods" id="Tab-Key">esc</div>
			<div class="keycap alpha" id="Q-KEY">Q</div>
			<div class="keycap alpha" id="W-KEY">W</div>
			<div class="keycap alpha" id="E-KEY">E</div>
			<div class="keycap alpha" id="R-KEY">R</div>
			<div class="keycap alpha" id="T-KEY">T</div>
			<div class="keycap alpha" id="Y-KEY">Y</div>
			<div class="keycap alpha" id="U-KEY">U</div>
			<div class="keycap alpha" id="I-KEY">I</div>
			<div class="keycap alpha" id="O-KEY">O</div>
			<div class="keycap alpha" id="P-KEY">P</div>
			<div class="keycap special bigs" id="\-Key">Del</div>
		</div>
		<div class="keycap-row row-2">
			<div class="keycap special modifiers bigs" id="Caps-KEY">Caps</div>
			<div class="keycap alpha" id="A-KEY">A</div>
			<div class="keycap alpha" id="S-KEY">S</div>
			<div class="keycap alpha" id="D-KEY">D</div>
			<div class="keycap alpha" id="F-KEY">F</div>
			<div class="keycap alpha" id="G-KEY">G</div>
			<div class="keycap alpha" id="H-KEY">H</div>
			<div class="keycap alpha" id="J-KEY">J</div>
			<div class="keycap alpha" id="K-KEY">K</div>
			<div class="keycap alpha" id="L-KEY">L</div>
			<div class="keycap special bigs ogMods" id="Return-KEY">Return</div>
		</div>
		<div class="keycap-row row-3">
			<div class="keycap modifiers bigs" id="Shift-KEY">⇧</div>
			<div class="keycap alpha" id="Z-KEY">Z</div>
			<div class="keycap alpha" id="X-KEY">X</div>
			<div class="keycap alpha" id="C-KEY">C</div>
			<div class="keycap alpha" id="V-KEY">V</div>
			<div class="keycap alpha" id="B-KEY">B</div>
			<div class="keycap alpha" id="N-KEY">N</div>
			<div class="keycap alpha" id="M-KEY">M</div>
			<div class="keycap alpha" id="/-KEY">/?</div>
			<div class="keycap modifiers special" id="/-KEY">Fn</div>
			<div class="keycap modifiers bigs" id="Shift-KEY">⇧</div>
		</div>
		<div class="keycap-row row-4">
			<div class="keycap special modifiers bigs" id="/-KEY">Ctrl</div>
			<div class="keycap special modifiers bigs" id="/-KEY">Alt</div>
			<div class="keycap spacebar modifiers bigs space ogMods" id=" -KEY"></div>
			<div class="keycap special modifiers bigs" id="/-KEY">Win</div>
			<div class="keycap special modifiers bigs" id="/-KEY">Ctrl</div>
		</div>
	</div>
</body>