<div class="leaderboard">
    <div id="leaderboard-header">
        <h1>Leaderboards</h1>
        <a href="#" onclick="toggleDisplayLeaderboards()" id="leaderboard-type-display"><i class="fas fa-calendar-week"></i> Weekly </a>
        <br>
        <p id="refresh-timer-display">Refreshes in: </p>
    </div>
    <br>
    <br>
    <div class="leaderboards-holder">
        <div id="wpm-leaderboard" class="individual-leaderboard">
            <h2>WPM</h2>
            <div class="leaderboard-content" id="wpm-leaderboard-content">
            </div>
        </div>
        <div id="score-leaderboard" class="individual-leaderboard">
            <h2>SCORE</h2>
            <div class="leaderboard-content" id="score-leaderboard-content">
            </div>
        </div>
    </div>
</div>
<link href="css/leaderboards.css" rel="stylesheet">
<script src="../js/leaderboard.js"></script>