<body>
    <!-- <div class="nav" id="lobby" style="display: none;">
        <h1>Multiplayer</h1>
        <br>
        <a href="#" onclick="">Ranked (3000MMR)</a>
        <a href="#" onclick="">Quick Match</a>
        <br>
        <br>
        <h2>Custom Game</h2>
        <input type="text" id="room-code-input"/>
        <a href="#" onclick="joinRoom()">Join room</a>
        <a href="#" onclick="createRoom()">Create room</a>
    </div> -->

    <div class="nav" id="waiting" style="display: none;">
        <h1>Waiting for Opponent...</h1>
        <h2 id="room-code"></h2>
    </div>

    <div id="multiplayer-view-container" style="width: 100%; height: 100%; display: grid;"></div>
</body>