<link href="css/menu.css" rel="stylesheet">
<div class="modal micromodal-slide" id="modal-friends-online" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1">
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-friends-online-title">
            <header class="modal__header">
                <h1 class="modal__title" id="modal-friends-online-title">
                    Friends online
                </h1>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-friends-online-content">
            </main>
        </div>
    </div>
</div>