<link href="../css/shop.css" rel="stylesheet">

<div class="modal micromodal-slide" id="modal-shop" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1">
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-shop-title">
            <main class="modal__content" id="modal-shop-content">
            </main>
            <footer class="modal__footer">
                <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
            </footer>
        </div>
    </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script src="../js/stripe-script.js"></script>