#leaderboard-header{
    display: grid;
    grid-template-columns: auto auto auto;
}

.leaderboard{
    max-width:1000px;
    width: 90vw;
}

.leaderboards-partial{
    display: grid;
    margin: auto;
}

#leaderboard-header{
    display: inline-block;
}

#leaderboard-header h1{
    font-size: 40px;
}

.leaderboards-holder{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2vw;
    margin:auto;
}

.individual-leaderboard{
    background-color: var(--c3);
    padding: 20px;
    border-radius: 30px;
}

.leaderboard-content{
    display: grid;
    overflow-y: scroll;
    grid-template-columns: auto;
    height: 65vh;
}

.leaderboard-item{
    width: 90%;
    height: 50px;
    display: grid;
    grid-template-columns: 55px 80% auto;
    align-items: center;
}